body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#d2a56d, #d24d10);
    font-family: 'Agbalumo',sans-serif;
}

header{
    background-image: linear-gradient(to right, rgb(214, 72, 72) , rgb(235, 223, 9));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #494141;
    font-weight: bold;
    padding: 2% 5%;
}
header div{
    height: auto;
    width: auto;
    flex-grow: 1;
    padding-left: 5%;
}

.sk{
    font-family: 'Anton',sans-serif;
    color: #ffffff;
    font-size: 3vw;
}
.sk:hover {
    
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
menu{
    display: flex;
    margin-bottom: 0px;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    
}
menu li{
    border-right: solid 2px #ffffff;
    padding: 0 2%;
}
menu li:last-of-type{
    border-right: none;
}
menu>li>a{
    color: #4f4b4b;
    font-weight: bold;
}
menu>li>a:hover {
    color: rgb(204, 200, 200); 
  }

.description{
        text-align: center;
        padding: 2em;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        color: #ffffff;
}
.image-with-shadow {
    transition: box-shadow 0.3s ease; 
    text-align: center;
    position: relative;
    width: 50%;
    box-sizing: border-box;
}
.image-with-shadow:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


 .background{
    background: url(../img/10.-MMS-Product-scaled.webp);
    padding: 15px;
  }

  .image-section {
    display: flex;
    justify-content: space-around; /* Distribute images with space around them */
}

.image-column {
    flex: 1; /* Equal distribution of space for each image column */
    margin: 5px; /* Add margin for spacing */
}

.image-column img {
    width: 100%; /* Make images fluid within their container */
    display: block; /* Remove any default spacing */
}
.fadein {
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.image-column:hover .fadein {
    opacity: 1;
}

.footer {
    background: #1c1919;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap; /* Allows for content to wrap on smaller screens */
    justify-content: space-between;
}
.logo img {
    width: 80px; /* Adjust the width to make the logo smaller */
}

.left-content,
.right-content {
    flex: 1; /* Equal width for both sections */
}

.contact-section {
    text-align: center;
}

.contact-section form {
    display: flex;
    flex-direction: column;
}

.contact-section input,
.contact-section textarea,
.contact-section button {
    margin: 5px 0;
    padding: 8px;
}
